.ex-0-square{
  width: 100px;
  height: 100px;
  border: none;
  background-color: red;
}

@keyframes cube-rain {
  0%{
    background-color: red;
    border-radius: 0;
  }
  12%{
    background-color: blue;
    border-radius: 12%;
  }
  25%{
    background-color: black;
    border-radius: 25%;
  }
  37%{
    background-color: purple;
    border-radius: 37%;
  }
  50%{
    background-color: yellow;
    border-radius: 50%;
  }
  62%{
    background-color: pink;
    border-radius: 37%;
  }
  75%{
    background-color: green;
    border-radius: 25%;
  }
  87%{
    background-color: lightblue;
    border-radius: 12%;
  }
  100%{
    background-color: red;
    border-radius: 0;
  }
}
.ex-0-square:hover {
  animation: cube-rain 5s infinite;
}

/*esercizio1*/
.ex-1-square{
  transition: 2s;
}
.ex-1-square:hover{
  background-color: red;
}

/*es2*/
.ex-2-square{
  transition: 2s;
}
.ex-2-square:active{
  width: 100%;
}

/*es3*/
.ex-3-square{
  transition: 2s;
}
.ex-3-square:hover{
  border-radius: 50%;
}

/*es4*/
.ex-4-square{
  transition: 2s;
}
.ex-4-square:hover{
  opacity: 0;
}

/*es5*/
.ex-5-square{
  transition: 2s;
}
.ex-5-square:hover{
  transform: scale(1.5);
}
.ex-5-square:active{
  transform: scale(0.5);
}

/*es6*/
/* .ex-6-img{
  transition: 2s;
} */
.ex-6-img:hover{
  filter: grayscale(1);
}

/*es7*/
.ex-7-img{
  transition: 2s;
}
.ex-7-img:hover{
  filter: grayscale(.3) sepia(.6);
}

/*es8*/
.ex-8-img{
  transition: 2s;
}
.ex-8-img:hover{
  filter: sepia(.6) saturate(3);
  border-radius: 10%;
}

/*es9*/
.ex-9-img{
  transition: 2s;
}
.ex-9-img:hover{
  filter: sepia(.6) invert(1);
  border-radius: 30%;
}

/*es10*/
@keyframes spin {
  0%{
    transform: rotate(-1turn);
  }
}
.ex-10-icon{
  animation: spin 2s linear infinite;
}

/*es11*/
@keyframes spin-trequarti {
  0%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(0);
  }
}
.ex-11-icon:hover{
  animation: spin-trequarti 2s linear;
}

/*es12*/
@keyframes spinning-border-top {
  0%{
    left: 10%
  }
  50%{
    left: calc(100% - 60px);
  }
  100%{
    left: 10%;
  }
}
@keyframes spinning-border-bot {
  0%{
    right: 20%
  }
  50%{
    right: calc(100% - 60px);
  }
  100%{
    right: 20%;
  }
}
.ex-12-button:hover .ex-12-top-white{
  animation: spinning-border-top 2s linear;
}
.ex-12-button:hover .ex-12-bottom-white{
  animation: spinning-border-bot 2s linear;
}

/*es13*/
@keyframes spin-around-top {
  0%{
    left: 10%;
    top: -10px;
  }
  30%{
    left: calc(100% - 30px);
    top: -10px;
  }
  45%{
    left: calc(100% - 30px);
    top: 100%;
  }
  75%{
    left: 0;
    top: 100%;
  }
  90%{
    left: -15px;
    top: -10px;
  }
  100%{
    left: 10%;
    top: -10px;
  }
}
.ex-13-button:hover .ex-13-top-white{
  animation: spin-around-top 2s linear infinite;
}
@keyframes spin-around-bot {
  0%{
    right: 20%;
    bottom: -10px;
  }
  30%{
    right: calc(100% - 30px);
    bottom: -10px;
  }
  45%{
    right: calc(100% - 30px);
    bottom: 100%;
  }
  75%{
    right: 0;
    bottom: 100%;
  }
  90%{
    right: -15px;
    bottom: -10px;
  }
  100%{
    right: 20%;
    bottom: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white{
  animation: spin-around-bot 2s linear infinite;
}
